<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
	<%= link_to 'Edit', edit_user_path(@user) %> |
	<%= link_to 'Back', users_path %>
</p>

<div>
	<strong>Characters:</strong>
	<table>
		<% if @characters %>
			<% @characters.each do |character| %>
				<tr>
					<td>
						<%= character.character_type %>
					</td>
					<td>
						<%= link_to 'Edit', edit_character_path(character )%>
					</td>
					<td>
						<%= link_to 'Destroy', character, controller: :characters, method: :delete, data: {confirm: 'Are you sure?'} %>
					</td>
				</tr>
			<% end %>
	</table>
		<% end %>
		<%= link_to 'Character List', characters_path%>
		
		<%= link_to 'Item List', items_path %>
</div>


